body {
    background-color: #222529;
    padding-top: 20px;
}

.card-items {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.prima {
    color: #eb3568;
    font-weight: 800;
}

.card-items i {
    font-size: 60px;
    color: #f7c144;
    padding-right: 30px;
}

.bg-img {
    background-position: center;
    background-size: cover;
}

.card-contact i {
    font-size: 20px;
    color: #f7c144;
}

.bg-img-1 {
    background-image: url(./img/slide/slide1.webp);
}

.bg-img-2 {
    background-image: url(./img/slide/slide2.webp);
}

.bg-img-3 {
    background-image: url(./img/slide/slide3.webp);
}

.bg-img-4 {
    background-image: url(./img/slide/slide4.webp);
}

.p-size {
    font-size: 30px !important;
    font-weight: 100;
}

.carousel-image {
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.card img {
    border-radius: 100px !important;
    width: 100px;
    height: 100px;
    margin: 0 auto !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09) !important;
    margin-top: 10px !important;
}

@media (max-width: 576px) {
    .bg-img-1 {
        background-image: url(./img/slide/mobile-slide1.webp);
    }
    .bg-img-2 {
        background-image: url(./img/slide/mobile-slide2.webp);
    }
    .bg-img-3 {
        background-image: url(./img/slide/mobile-slide3.webp);
    }
    .bg-img-4 {
        background-image: url(./img/slide/mobile-slide4.webp);
    }
    .carousel-image {
        height: 80vh;
    }
}